/* Стили для подвала */
footer {
    color: #fff;
    padding-bottom: 40px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo h2 {
    color: #f0b90b;
    font-size: 24px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 8px 0;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f0b90b;
}

.footer-social img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 14px;
}
