/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    text-align: left;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.close:hover {
    color: red;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label + input {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 20px 50px;
    border-radius: 5px;
    background-color: rgb(252,213,53);
    border: none;
    color: rgb(32,38,48);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.modal-content button:hover {
    background-color: rgb(196, 165, 39);
}


#reg-modal .modal-content {
    height: 380px;
}
